body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Asta Sans", sans-serif;
  letter-spacing: -1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --swiper-pagination-color: #779D82;
}

.swiper-button-prev,
.swiper-button-next {
  color: #779D82 !important;
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2rem !important;
}